In [2]:
import pandas as pd
import requests
import os
import time

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [6]:
# Loading the city bike dataset for Dublin
df_dublin = pd.read_csv('/Users/ruu/documents/LHL/Project-Statistical-Modelling/data/dublin.csv', index_col=0)
coordinates = df_dublin

# Setting up url, api_key and headers for Foursquare API
url = 'https://places-api.foursquare.com/places/search'
api_key = os.environ['MYTOKEN']
headers = {
            "accept": "application/json",
            "Authorization": f"Bearer {api_key}",
            "X-Places-Api-Version": "2025-06-17"
          }
# Iterating through all coordinates found in df_dublin dataset in the API from foursquare
all_results = []
for idx, row in coordinates.iterrows():
    latlon = f"{row['latitude']},{row['longitude']}"
    params = {
        "ll": latlon,
        "radius": 1000,
        "fsq_category_ids": "4d4b7105d754a06374d81259"  # category id code for resturants obtained from the foursquare documentation <https://docs.foursquare.com/data-products/docs/categories>
             }
    response = requests.get(url=url, headers=headers, params=params)
    if response.status_code == 200:
        fs_data = response.json()
        all_results.extend(fs_data['results'])
    else:
        print(f"Error for {latlon}: {response.status_code}")
    time.sleep(0.2)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [7]:
# Retrieving restaurant details such as name, address, and distance in meters
# Using .get() in case a key doesnt exist and to prevent the code from crashing. 
name = [result.get('name')for result in all_results]
address = [result.get('location', {}).get('address')for result in all_results]
distance = [result.get('distance')for result in all_results]

Put your parsed results into a DataFrame

In [8]:
df_fs = pd.DataFrame({
                        "name": name,
                        "address": address,
                        "distance": distance
                    })
df_fs

,name,address,distance
0,BoCo,57 Bolton St,400
1,The Black Sheep,61 Capel St,580
2,Midnight Express,Dorset St Uppr,320
3,Kingfisher Restaurant,Parnell St,546
4,The Hop House (Kim Chi),160 Parnell St,613
...,...,...,...
1145,Wallace's Asti,"15 Russel St, Behan Square",647
1146,The Hop House (Kim Chi),160 Parnell St,899
1147,Tang,"9a Abbey Street Lower, Dublin 1, Ireland",985
1148,Drunken Fish,Lwr Mayor St,646
1149,Admiral Restaurant,1 Marlborough St,797

In [9]:
# Saving the df_fs dataframe as .csv
df_fs.to_csv('foursquare.csv')

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [10]:
df_dublin = pd.read_csv('/Users/ruu/documents/LHL/Project-Statistical-Modelling/data/dublin.csv', index_col=0)
coordinates = df_dublin

url = 'https://api.yelp.com/v3/businesses/search'
api_key = os.environ['YELPTOKEN']
headers = { "accept": "application/json",
            "Authorization": f"Bearer {api_key}"
          }

all_businesses = []

for idx, row in coordinates.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    params = { "latitude": latitude,
               "longitude": longitude,
               "term": "restaurants",
               "radius": 1000
             }
    response = requests.get(url=url, headers=headers, params=params)
    if response.status_code == 200:
        yelp_data = response.json()
        all_businesses.extend(yelp_data['businesses'])
    else:
        print(f"Error for {latlon}: {response.status_code}")
    time.sleep(0.2)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [13]:
name = [business.get('name')for business in all_businesses]
address = [business.get('location', {}).get('address1')for business in all_businesses]
distance = [business.get('distance')for business in all_businesses]
rating = [business.get('rating')for business in all_businesses]
price_range = [business.get('price')for business in all_businesses]

Put your parsed results into a DataFrame

In [14]:
df_yelp = pd.DataFrame({
                        "name": name,
                        "address": address,
                        "distance": distance,
                        "rating": rating,
                        "price_range": price_range
                        })
df_yelp

,name,address,distance,rating,price_range
0,Brannigans,9 Cathedral Street,816.942944,4.5,â‚¬
1,Wood Fire Cafe,3 Blessington Street,285.565939,4.5,None
2,The Old Mill Restaurant,14 Temple Bar Square,1100.844806,4.5,â‚¬â‚¬
3,The Lovinspoon,13 N Frederick Street,331.745696,4.6,â‚¬
4,The Boxty House,20-21 Temple Bar,1130.342156,4.3,â‚¬â‚¬â‚¬
...,...,...,...,...,...
2295,Art Cafe Dublin,1 Frenchman's Lane,690.681841,4.3,â‚¬â‚¬
2296,Mcgettigans Cookhouse & Bar Restaurant,Amiens Street,341.564619,3.3,â‚¬â‚¬
2297,"Laine, My Love",38 Talbot Street,443.574219,4.6,None
2298,El Grito Mexican Taqueria,20 Mountjoy Square E,665.199088,4.4,â‚¬
2299,Brasilia Cafe,Talbot Street,617.792130,5.0,None

In [15]:
df_yelp.to_csv('yelp.csv')

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

df_yelp provided more complete data as it captures the following:
1. has more meaningful attributes (for example, it has ratings and price range of the restaurants).
2. returned more results (=2300 rows) for the same search parameters.

Get the top 10 restaurants according to their rating

In [23]:
top_10_rated = df_yelp.sort_values(by='rating',ascending=False).head(10) #There are duplicates in this df because the restaurants are near multiple bike stations within the prescribed 1km radius

top_10_rated_unique = top_10_rated.drop_duplicates(subset=['name','address']).head(10)
top_10_rated_unique

,name,address,distance,rating,price_range
1150,Brasilia Cafe,Talbot Street,72.158169,5.0,None
689,La Pausa Cafe,1-B Blessington Street,472.631206,5.0,â‚¬
733,Teddy's Bar And Bistro,23 O'Connell Street Upper,358.930381,5.0,None
863,Fox & Feather,27A Parkgate Street,111.208844,5.0,None
996,Stir Cafe,78-86 King St N,135.729056,5.0,â‚¬â‚¬
999,Social Fabric Cafe,34 Stoneybatter,165.311008,5.0,None