# CityBikes

Send a request to CityBikes for the city of your choice.

In [2]:
import requests

# Selecting Dublin, Ireland as the city of choice
network_id = 'dublinbikes'
url = 'http://api.citybik.es/v2/networks/' + network_id
dublin_network_json = requests.get(url).json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [3]:
# Assigning total_network variable to our dublin city bikes dataset
total_network = dublin_network_json['network']['stations']

# Parsing through the response to obtain name (as id), longitude, latitude, and number of bikes as total slots in a particular station
names = [station['name']for station in total_network]
longitude = [station['longitude']for station in total_network]
latitude = [station['latitude']for station in total_network]
num_bikes = [station['extra']['slots']for station in total_network]

Put your parsed results into a DataFrame.

In [4]:
import pandas as pd

df_dublin = pd.DataFrame({
                          "names": names,
                          "latitude": latitude,
                          "longitude": longitude,
                          "num_bikes": num_bikes
                         })

df_dublin

                                 names   latitude  longitude  num_bikes
0                          WESTERN WAY  53.354929  -6.269425         40
1    PRINCES STREET / O'CONNELL STREET  53.349013  -6.260311         23
2              FITZWILLIAM SQUARE WEST  53.336074  -6.252825         30
3                        BOLTON STREET  53.351182  -6.269859         20
4           GRANGEGORMAN LOWER (SOUTH)  53.354663  -6.278681         40
..                                 ...        ...        ...        ...
110                       JAMES STREET  53.343456  -6.287409         40
111                    SANDWITH STREET  53.345203  -6.247163         40
112                  CUSTOM HOUSE QUAY  53.347884  -6.248048         30
113                       HANOVER QUAY  53.344115  -6.237153         40
114                   KILLARNEY STREET  53.354845  -6.247579         30

[115 rows x 4 columns]

In [4]:
# Saving the df_dublin dataframe as .csv
df_dublin.to_csv('dublin.csv')