# CityBikes

Send a request to CityBikes for the city of your choice.

In [6]:
import requests

# Selecting Dublin, Ireland as the city of choice
network_id = 'dublinbikes'
url = 'http://api.citybik.es/v2/networks/' + network_id
dublin_network_json = requests.get(url).json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [7]:
# Assigning total_network variable to our dublin city bikes dataset
total_network = dublin_network_json['network']['stations']

# Parsing through the response to obtain name (as id), longitude, latitude, and number of bikes as total slots (i.e. total capacity) in a particular station
names = [station['name']for station in total_network]
longitude = [station['longitude']for station in total_network]
latitude = [station['latitude']for station in total_network]
num_bike_slots = [station['extra']['slots']for station in total_network]

Put your parsed results into a DataFrame.

In [8]:
import pandas as pd

df_dublin = pd.DataFrame({
                          "names": names,
                          "latitude": latitude,
                          "longitude": longitude,
                          "num_bike_slots": num_bike_slots
                         })

df_dublin = df_dublin.set_index(['latitude','longitude']) # Assigning the coordinates as an index
df_dublin

                                                 names  num_bike_slots
latitude  longitude
53.354929 -6.269425                        WESTERN WAY              40
53.349013 -6.260311  PRINCES STREET / O'CONNELL STREET              23
53.336074 -6.252825            FITZWILLIAM SQUARE WEST              30
53.351182 -6.269859                      BOLTON STREET              20
53.354663 -6.278681         GRANGEGORMAN LOWER (SOUTH)              40
...                                                ...             ...
53.343456 -6.287409                       JAMES STREET              40
53.345203 -6.247163                    SANDWITH STREET              40
53.347884 -6.248048                  CUSTOM HOUSE QUAY              30
53.344115 -6.237153                       HANOVER QUAY              40
53.354845 -6.247579                   KILLARNEY STREET              30

[115 rows x 2 columns]

In [9]:
# Saving the df_dublin dataframe as .csv
df_dublin.to_csv('dublin_bikes.csv')